<form action="/add" method="POST">
    <h2>NEW USER</h2>
    <p>Name</p>
    <input type="text" name="name">
    <p>E-mail</p>
    <input type="text" name="email">
    <br>
    <br>
    <button type="submit" class="btn btn-success">Register</button>
</form>